body {
    background: lightgray;
    color: darkslategray;
    margin-left: 10vh;
    margin-right: 10vh;
}

h1 {
    font-family: 'Roboto Slab', 'serif';
}

h2 {
    font-family: 'Roboto Slab','serif';
}

h3 {
    font-family: 'Roboto Slab','serif';
}

.line {
    height: .5vh;
    background-color: darkslategray;
}

p {
    font-family: 'Roboto', 'serif';
    text-align: center;
}

ul {
    font-family: 'Roboto', 'serif';
    margin-top: auto;
}

li {
    font-family: 'Roboto', 'serif';
}

a {
    color: darkslategray;
    text-decoration: none;
    font-family: 'Roboto', 'serif';
}

a:hover {
    text-decoration:underline;
}

.projects {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-block {
    display: flex;
    flex-direction: column;
}

.project-img {
    height: 20vh;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.contact-img {
    height: 4vh;
}

.about-me {
    display: flex;
    flex-direction: row;
}

.text {
    text-align: left;
    margin-left: 5vh;
    font-size: 3vh;
}

.me-pic {
    height: 75vh;
}

.videos {
    margin: auto;
}

.title-spacer {
    width: 2000px;
}